# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/
mocks.json
logs/

# Папка с собранными файлами проекта
build/

src/express/upload/img/*.*

!src/express/upload/img/.gitkeep

# Файл с переменными окружения
!example.env
.env
